*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f10;
    color: #ffffff;
}
/* removing style of list */
li{
    list-style: none;
}
/* **************Applying CSS to Navigation Menu******************** */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 20px;
    padding: 10px 5px;
}
img[alt="Main Logo"]{
    height: 55px;
    width: 55px;
    margin-left: 85px;
}
.nav-right{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin-right: 150px;
    z-index: 2;
}
.navbar ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.navbar ul li{
    font-weight: 700;
    font-size: 18px;
}
.nav-right button{
    background-color: #1e1e21;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    border: none;
    box-shadow: -2px -2px grey;
    color: gray;
}
/* ***************Applying CSS to the main Section******************* */
img[alt="Main Image"]{
    width: 230px;
    position: relative;
    left: 250px;
    top: -230px;
}
main{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
}
.main{
    margin-left: 450px;
}
img[alt="OnEar Logo"]{
    margin-left: 60px;
    width: 390px;
    margin-bottom: 10px;
    scale: 0.9;
    margin-top: 15px;
}
.main h1{
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 50px;
}
.main h4{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
}
.main p{
    font-size: 12.5px;
    width: 65%;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
    color: #bdc0c2;
}
.cart{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #1e1e21;
    width: fit-content;
    border-radius: 8px;
    padding: 0px 20px;
    
}
.cart img{
    background-color: transparent;
    width: 25px;
}
.cart p{
    background-color: transparent;
    color: #ffffff;
    margin-top: 20px;
    font-size: 17px;
}
.cart span{
    background-color: transparent;

}
/* ***************Applying CSS to Social Media Icons******************* */
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 115px;
    padding: 0px 70px;
    margin-bottom: 150px;
}

/* ******************Applying CSS to the specs Section**************** */
.specs{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.specs-logo{
    margin-bottom: 30px;
    scale: 0.8;
}
.specs-list{
    display: flex;
    gap: 65px;
}
.specs-list img{
    scale: 0.8;
}
.specs-list-item div:first-child, .specs-list-item div:last-child{
    margin-left: 30px;
}
.specs-list-item div{
    margin-bottom: 20px;
}
.specs-list-item p{
    font-size: 12px;
}
.specs-list-item div img{
    scale: 0.8;
}
.specs-list-item div p:last-child{
    color: #bdc0c2;
    font-size: 10px;
    math-style: 5px;
}

/* **********************Applying CSS to the Case Section************* */
.case{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.case-item{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.case-item img[alt="case image"]{
    scale: 0.8;
}
.case-item div{
    text-align: justify;
}
.case-item div p:first-child{
    color: #bdc0c2;
    font-size: 12px;
    margin-top: 125px;
    font-weight: 400;
    line-height: 25px;
}
.group{
    display: flex;
    gap: 15PX;
    background-color: #1e1e21;
    padding: 10PX 8PX;
    border-radius: 8PX;
    margin-top: 25PX;
    width: 90%;
}
img[alt="group logo"]{
    scale: 0.8;
    background-color: transparent;
    margin-left: 8px;
}
.group p{
    background-color: transparent;
    font-size: 15px;
    width: fit-content;
}

/* *******************Applying CSS to Product Buy Section******************** */
.buy{
    background-color: #181a1b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 100px;
    width: 65%;
    margin-left: 200px;
    padding: 50px 0px;
    gap: 65px;
}
.head{
    display: flex;
    flex-direction: column;
}
.shop-bag1{
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    padding: 0px 20px;
    border-radius: 8px;
}
.buy div, .buy p, .buy h3, .buy img{
    background-color: transparent;
} 
.buy div h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;

}
.buy div p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    color:#bdc0c2;
}
.shop-bag img p{
    background-color: black;
}
.buy div div p{
    margin-top: 18px;
    color: white;
    font-size: 13px;
}
.buy div div img{
    scale: 0.8;
}
.buy div div{
    background-color: black;
}


/* ******************Applying CSS to Product Collection Section ************* */
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img[alt="product logo"]{
    display: flex;
    flex-direction: column;
    scale: 0.6;
}
.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 55px;
}
.product-item{
    height: 150px;
    width: 150px;
    background-color: #181a1b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
    margin-bottom: 5px;
}
.product-img{
    position: relative;
    z-index: 10;
    background-color: transparent;
    width: 75px;
    height: 100px;
    top: -40px;
    left: 5px;
}
.product-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.product-info{
    background-color: transparent;
}
.product-info p, .product-info p span, .product-info div, .product-info img{
    background-color: transparent;
}
.product-info p{
    font-size: 11px;
    margin-left: -15px;
}
.product-info p span{
    color: #bdc0c2;
}
.product-info div{
    position: relative;
    left: 15px;
    background-color: #0a0a0b;
    height: 30px;
    width: 30px;
    border-radius: 8px;
}
.shop-bag{
    position: relative;
    left: 5px;
    top: 3px;
    scale: 0.8;
}



/* *************Applying CSS to footer section**************** */
.footer{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-around;
}
img[alt="Footer logo"]{
    scale: 0.8;
}
.footer l li{
    font-size: 15px;
    color: #bdc0c2;
}
.footer ul li h1{
    font-size: 21px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subscribe input{
    background-color: #181a1b;
    border-radius: 8px;
    display: flex;
    padding: 5px 10px;
    border: none;
    background-color: transparent;

}
.subscribe-field{
    display: flex;
    align-items: center;
    background-color: #1e1e21;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 0px;
}
.subscribe-btn{
    display: flex;
    align-items: center;
    background-color: #000000;
    gap:10px ;
    width: 90%;
    border-radius: 8px;
    padding: 10px 20px;
}
.subscribe-btn img{
    background-color: transparent;
    scale: 0.8;
}
.subscribe-btn p{
    background-color: transparent;
    font-size: 12px;
}
.soc-med-icons{
    display: flex;
    gap: 25px;
}
img[alt="UpArrow Icon"]{
    position: absolute;
    scale: 0.8;
    right: -1px;
}